<div >
     <!-- <input type="file" (change)="onFileSelected($event)" accept="image/*" /> 
    <img *ngIf="imagePreview" [src]="imagePreview" alt="Preview" width="200" /> -->
    <!-- <input type="text" placeholder="Enter Semester">
    <input type="text" placeholder="Enter Year">
    <p *ngIf="uploadMessage">{{ uploadMessage }}</p>
    <button (click)="uploadImage()">Upload</button> -->

    <form #uploadData="ngForm"  (ngSubmit)="OnUpload(uploadData.value)" action="" class="container">
        <!-- <input type="file" (change)="onFileSelected($event)" accept="image/*" />
        <img *ngIf="imagePreview" [src]="imagePreview" alt="Preview" width="200" /> -->
        <input type="text" ngModel name="image">
        <input type="text" placeholder="Enter Semester" ngModel name="sem">
        <input type="text" placeholder="Enter Year"  ngModel name="year">
        <button>Upload</button>
    </form>

</div>